In [1]:
print('hi')

hi

In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [6]:
print('a','b','c',sep='-',end=' ')
print('d','e')

a-b-c d e

In [7]:
a,b = 'gks','dkj'

In [8]:
a

'gks'

In [9]:
B

NameError: name 'B' is not defined

In [10]:
B

NameError: name 'B' is not defined

In [11]:
b

'dkj'

In [12]:
print('a\nb')

a
b

In [14]:
print('-'*30, sep='')

------------------------------

In [15]:
a='문자 선택 연산자에 대해 알아봅시다.'

In [16]:
a[-1]

'.'

In [17]:
a[2]

' '

In [18]:
a[3]

'선'

In [19]:
a[3:9]

'선택 연산자'

In [21]:
len(a)

20

In [22]:
a = input('사과 갯수 입역')

사과 갯수 입역 100

In [23]:
a

'100'

In [24]:
type(a)

str

In [27]:
type(int(a))

int

In [29]:
a = int(a)

In [30]:
box=a//12

In [31]:
c=a%12

In [32]:
c

4

In [33]:
box

8

In [34]:
'%d %.2f %s' %(34,23.4454,'string')

'34 23.45 string'

In [35]:
print('%d %.2f %s' %(34,23.4454,'string'))

34 23.45 string

In [36]:
a='문자열'
a.format()

'문자열'

- 리스트

In [37]:
본문

NameError: name '본문' is not defined

본문

In [43]:
'{},{:.2f},{}'.format(3,4.777,'sy')

'3,4.78,sy'

In [45]:
print('{},{:.2f},{}'.format(3,4.777,'sy'))

3,4.78,sy

In [47]:
output_a = '{:05d}'.format(-52)
output_a

'-0052'

In [48]:
a='안녕안녕하세요안녕'

In [49]:
a.find('안녕')

0

In [50]:
a.rfind('안녕')

7

In [51]:
a='다음 예제에서 볼수 있듯이 단순한 형태로 사용합니다.'

In [52]:
a.rfind('형태')

19

In [53]:
index = a.find('형태')

In [54]:
a[index:index+2]

'형태'

In [57]:
a='10 20 30 40 50'.split()

In [58]:
a

['10', '20', '30', '40', '50']

In [59]:
jumin='880201-1895326'

In [61]:
jumin.split('-')[0]

'880201'

In [63]:
jumin.split('-')[1][0]

'1'

In [64]:
list2=[2,3,5,6]

In [65]:
list2*3

[2, 3, 5, 6, 2, 3, 5, 6, 2, 3, 5, 6]

In [66]:
list2.append(4)

In [67]:
list2

[2, 3, 5, 6, 4]

In [68]:
list2.insert(0,8)

In [69]:
list2

[8, 2, 3, 5, 6, 4]

In [70]:
dic1 = {'홍길동':[23,170,68] , '김철수':[22,180,70]}

In [71]:
dic1

{'홍길동': [23, 170, 68], '김철수': [22, 180, 70]}

In [72]:
dic1['홍길동']

[23, 170, 68]

In [73]:
for i in dic1:
    print(dic1[i])

[23, 170, 68]
[22, 180, 70]

In [74]:
for i in dic1.keys():
    print(i)

홍길동
김철수

In [75]:
for i in dic1.items():
    print(i)

('홍길동', [23, 170, 68])
('김철수', [22, 180, 70])

In [76]:
dic1['홍길동'][1]

170

In [77]:
dic1.pop('홍길동')

[23, 170, 68]

In [78]:
dic

NameError: name 'dic' is not defined

In [79]:
dic1

{'김철수': [22, 180, 70]}

In [80]:
dic1

{'김철수': [22, 180, 70]}

In [86]:
for i in reversed(dic1):
    print(i)

김철수

In [2]:
import sklearn